@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;

  --color-accent-green: #10b981;
  --color-accent-red: #ef4444;
  --color-accent-amber: #f59e0b;

  --color-text-primary: #ededed;
  --color-text-secondary: #a3a3a3;
  --color-text-tertiary: #525252;

  --color-border-primary: #262626;

  --color-bg-page: #000000;
  --color-bg-surface: #171717;
  --color-bg-input: #0f0f0f;
}
