@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;

  --color-accent-green: #10b981;
  --color-accent-red: #ef4444;
  --color-accent-amber: #f59e0b;

  --color-text-primary: #171717;
  --color-text-secondary: #737373;
  --color-text-tertiary: #a3a3a3;

  --color-border-primary: #e5e5e5;

  --color-bg-page: #ffffff;
  --color-bg-surface: #fafafa;
  --color-bg-input: #f5f5f5;
}
